.profileContainer {
    display: flex;
    align-items: center;
}

.profileContainer .avatarContainer {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    background: var(--gray-line);
} 

.profileContainer .avatarContainer > img {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
} 

.profileContainer div {
    margin-left: 1.5rem;
}

.profileContainer div strong {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--title);
}

.profileContainer div p {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.profileContainer div p img {
    margin-right: 0.5rem;
}

.profileContainer div strong {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.profileContainer div strong a{
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: filter 0.2s;
}

.profileContainer div strong a:hover{
    filter: brightness(0.7);
}

.profileContainer div strong a img {
    height: 1.3rem;
    width: auto;
    cursor: pointer;
    margin-left: 0.5rem;
}